<div class="card bg-dark text-white">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <label for="username" class="col-form-label col-sm-2">User Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="user.username" name="userName">
        </div>
      </div>

      <div class="form-group row">
        <label for="creation_date" class="col-form-label col-sm-2">Creation Date</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="user.creation_date" name="creationDate">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='crear()' *ngIf="!user.idUser else elseBlock">Crear</button>
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='modificar()'>Modificar</button>
          </ng-template>
        </div>
      </div>

    </form>
  </div>
</div>
