<div class="card border-primary mb-3">
  <div class="card-header">Users</div>
  <div class="card-body text-primary">
    <h5 class="card-title">User list</h5>
    <div class="my-2 text-letf">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/users/formulario']">Crear Usuario</button>
    </div>
    <div *ngIf="users?.length==0" class="alert alert-info">
      No existen registros en la base de datos!
    </div>
    <table class="table table-bordered table-striped" *ngIf="users?.length>0">
      <thead>
        <tr>
          <th>Id</th>
          <th>User Name</th>
          <th>Creation Date</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.idUser}}</td>
          <td>{{user.username}}</td>
          <td>{{user.creation_date}}</td>
          <td>
            <button type="button" name="editar" [routerLink]= "['/users/formulario/',user.idUser]" class="btn btn-primary btn-sm">Editar</button>
          </td>
          <td>
            <button type="button" name="eliminar" (click)='delete(user)' class="btn btn-danger btn-sm">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
